In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data = pd.read_csv('Uncleaned_DS_jobs.csv')

In [7]:
data.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [8]:
data.tail()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [9]:
data.shape

(672, 15)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

In [12]:
data.isnull().sum()

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

In [28]:
data.columns

Index(['index', 'Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [13]:
# Data Cleaning

In [15]:
#Salary Estimate

In [61]:
data['Salary Estimate(K)'].dtype

dtype('O')

In [62]:
data['Salary Estimate(K)'].value_counts()

Salary Estimate(K)
$79K-$131K (Glassdoor est.)     32
$99K-$132K (Glassdoor est.)     32
$75K-$131K (Glassdoor est.)     32
$137K-$171K (Glassdoor est.)    30
$90K-$109K (Glassdoor est.)     30
$56K-$97K (Glassdoor est.)      22
$79K-$106K (Glassdoor est.)     22
$90K-$124K (Glassdoor est.)     22
$110K-$163K (Glassdoor est.)    21
$92K-$155K (Glassdoor est.)     21
$138K-$158K (Glassdoor est.)    21
$128K-$201K (Glassdoor est.)    21
$212K-$331K (Glassdoor est.)    21
$95K-$119K (Glassdoor est.)     21
$69K-$116K (Glassdoor est.)     21
$124K-$198K (Glassdoor est.)    21
$112K-$116K (Glassdoor est.)    21
$122K-$146K (Glassdoor est.)    21
$91K-$150K (Glassdoor est.)     21
$101K-$165K (Glassdoor est.)    21
$79K-$147K (Glassdoor est.)     20
$31K-$56K (Glassdoor est.)      20
$145K-$225K(Employer est.)      20
$141K-$225K (Glassdoor est.)    20
$66K-$112K (Glassdoor est.)     20
$80K-$132K (Glassdoor est.)     20
$87K-$141K (Glassdoor est.)     20
$105K-$167K (Glassdoor est.)    20
$79K-$133K (Glassdoor est.)     19
$71K-$123K (Glassdoor est.)     19
Name: count, dtype: int64

In [63]:
salary = data['Salary Estimate(K)'].apply(lambda x : x.split('(')[0])

In [64]:
salary

0      $137K-$171K
1      $137K-$171K
2      $137K-$171K
3      $137K-$171K
4      $137K-$171K
           ...
667    $105K-$167K
668    $105K-$167K
669    $105K-$167K
670    $105K-$167K
671    $105K-$167K
Name: Salary Estimate(K), Length: 672, dtype: object

In [65]:
salary = salary.apply(lambda y : y.replace('$','').replace('K',''))

In [68]:
salary

0      137-171
1      137-171
2      137-171
3      137-171
4      137-171
         ...
667    105-167
668    105-167
669    105-167
670    105-167
671    105-167
Name: Salary Estimate(K), Length: 672, dtype: object

In [72]:
data['min_salary'] = salary.apply(lambda t : t.split('-')[0])

In [74]:
data['min_salary']

0      137
1      137
2      137
3      137
4      137
      ...
667    105
668    105
669    105
670    105
671    105
Name: min_salary, Length: 672, dtype: object

In [77]:
data['max_salary'] = salary.apply(lambda t : t.split('-')[1])

In [79]:
data['max_salary']

0      171
1      171
2      171
3      171
4      171
       ...
667    167
668    167
669    167
670    167
671    167
Name: max_salary, Length: 672, dtype: object

In [81]:
data.head()

,index,Job Title,Salary Estimate(K),Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137,171
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171

In [83]:
data['min_salary'].unique()

array(['137', '75', '79', '99', '90', '101', '56', '71', '91', '141',
       '145', '122', '112', '110', '124', '69', '31', '95', '212', '66',
       '128', '138', '80', '87', '92', '105'], dtype=object)

In [85]:
data['max_salary'].unique()

array(['171 ', '131 ', '132 ', '109 ', '165 ', '97 ', '106 ', '123 ',
       '124 ', '150 ', '225 ', '225', '147 ', '146 ', '116 ', '163 ',
       '198 ', '133 ', '56 ', '119 ', '331 ', '112 ', '201 ', '158 ',
       '141 ', '155 ', '167 '], dtype=object)

In [87]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               672 non-null    int64
 1   Job Title           672 non-null    object
 2   Salary Estimate(K)  672 non-null    object
 3   Job Description     672 non-null    object
 4   Rating              672 non-null    float64
 5   Company Name        672 non-null    object
 6   Location            672 non-null    object
 7   Headquarters        672 non-null    object
 8   Size                672 non-null    object
 9   Founded             672 non-null    int64
 10  Type of ownership   672 non-null    object
 11  Industry            672 non-null    object
 12  Sector              672 non-null    object
 13  Revenue             672 non-null    object
 14  Competitors         672 non-null    object
 15  min_salary          672 non-null    object
 16  max_salary          672 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 89.4+ KB

In [89]:
data['min_salary'] = data['min_salary'].astype(int)

In [91]:
data['max_salary'] = data['max_salary'].astype(int)

In [93]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               672 non-null    int64
 1   Job Title           672 non-null    object
 2   Salary Estimate(K)  672 non-null    object
 3   Job Description     672 non-null    object
 4   Rating              672 non-null    float64
 5   Company Name        672 non-null    object
 6   Location            672 non-null    object
 7   Headquarters        672 non-null    object
 8   Size                672 non-null    object
 9   Founded             672 non-null    int64
 10  Type of ownership   672 non-null    object
 11  Industry            672 non-null    object
 12  Sector              672 non-null    object
 13  Revenue             672 non-null    object
 14  Competitors         672 non-null    object
 15  min_salary          672 non-null    int32
 16  max_salary          672 non-null    int32
dtypes: float64(1), int32(2), int64(2), object(12)
memory usage: 84.1+ KB

In [95]:
data['avg_salary'] = (data['min_salary']+data['max_salary'])/2

In [97]:
data.head()

,index,Job Title,Salary Estimate(K),Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171,154.0
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171,154.0
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137,171,154.0
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,154.0
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171,154.0

In [106]:
data['avg_salary'].dtype

dtype('float64')

In [107]:
# Company Name and Rating

In [108]:
data['Company Name'].unique()

array(['Healthfirst\n3.1', 'ManTech\n4.2', 'Analysis Group\n3.8',
       'INFICON\n3.5', 'Affinity Solutions\n2.9', 'HG Insights\n4.2',
       'Novartis\n3.9', 'iRobot\n3.5', 'Intuit - Data\n4.4',
       'XSELL Technologies\n3.6', 'Novetta\n4.5', '1904labs\n4.7',
       'PNNL\n3.7', 'Old World Industries\n3.1',
       'Mathematica Policy Research\n3.4',
       'Guzman & Griffin Technologies (GGTI)\n4.4',
       'Upside Business Travel\n4.1', 'Buckman\n3.5',
       'Insight Enterprises, Inc.\n4.2', 'Tower Health\n3.5',
       'Triplebyte\n3.2', 'PulsePoint\n4.3', 'Exponent\n3.5',
       'Guardian Life\n3.5',
       'Spectrum Communications and Consulting\n3.4',
       'Oversight Systems\n4.7', 'LSQ\n4.2',
       'MIT Lincoln Laboratory\n3.8', 'Kingfisher Systems\n4.5',
       'Formation\n2.8', 'Cohere Health\n5.0', 'Acuity Insurance\n4.8',
       'Chef\n3.6', 'Puget Sound Energy\n3.3', 'Sandhills Global\n2.7',
       'A Place for Mom\n2.7', 'Great-Circle Technologies\n2.2',
       'Edmunds.com\n3.4', 'Cambridge Associates, LLC\n3.1',
       'Liberty Mutual Insurance\n3.4', 'Cenlar\n2.6',
       'Arsenal Biosciences\n5.0', 'Eversight\n4.2', 'Pfizer\n4.1',
       'Klaviyo\n4.8', 'Intellectual Ventures\n3.3', 'GovTech\n3.7',
       'Quick Base\n4.3', 'Giving Assistant\n4.8', 'Takeda\n3.7',
       'Netskope\n4.0', 'IT Concepts\n4.8', 'iSeatz\n3.5',
       'Summa Health System\n3.7', 'Benson Hill\n3.5', 'Twitter\n4.1',
       'Postmates - Corporate HQ\n3.2', 'Envision LLC\n4.5',
       'Swiss Re\n3.8', 'Systems & Technology Research\n4.5',
       'Dermalogica\n3.8', 'Bayview Asset Management\n3.7',
       'Via Transportation\n3.7', 'Grid Dynamics\n4.0',
       'Tempus Labs\n3.3', 'CareDx\n2.5', 'IZEA\n4.2', 'Autodesk\n4.0',
       'Caterpillar\n3.7', 'New England Biolabs\n4.9',
       'Allied Solutions\n3.4', 'The Knot Worldwide\n3.5',
       'IFG Companies\n2.9', 'Amyris\n3.3', 'AstraZeneca\n4.0',
       'Powertek\n3.6', 'Object Partners\n4.7', 'The Mom Project\n4.9',
       'Lightspeed Systems\n4.3', 'Stripe\n4.0',
       'Comprehensive Healthcare\n2.6',
       'Fullpower Technologies, Inc.\n4.5', 'Mars\n3.9',
       'NuWave Solutions\n4.4', 'Merrick Bank\n3.6', 'QOMPLX\n3.5',
       'GutCheck\n3.8', 'Inter-American Development Bank\n3.5',
       'Avlino\n4.9', 'Stratagem Group\n4.4', 'Evidation\n4.1',
       'Tecolote Research\n3.8', 'Tivity Health\n3.2', 'hc1\n2.9',
       'HP Inc.\n4.1', 'SAIC\n3.7', 'AllianceBernstein\n3.2',
       'Big Huge Games\n4.9', 'Maxar Technologies\n3.5',
       'Phantom AI\n5.0', 'Noblis\n4.0', 'Spring Health\n3.6',
       'ClearEdge\n4.0', 'GetWellNetwork\n4.8', 'TACG Solutions\n4.5',
       'Scoop\n4.7', 'Montway Inc\n3.4', 'Juniper Networks\n3.8',
       'Notion Labs\n5.0', 'Lendio\n4.9', 'Direct Agents\n4.4',
       'NAVEX Global\n3.3', 'Upstart\n4.2', 'AppLovin\n4.8',
       'ISO New England\n3.8', 'Relativity\n3.7', 'Tempo Automation\n3.3',
       'MITRE\n3.3', 'Expedition Technology, Inc.\n5.0', 'Evidera\n3.8',
       'Plymouth Rock Assurance\n3.4', 'Crown Bioscience\n2.4',
       'GNS Healthcare\n2.9', 'OneMagnify\n4.4', 'SPECTRUM\n2.9',
       'Advanced BioScience Laboratories\n2.7',
       'Procore Technologies\n4.2', 'Ritedose\n3.5',
       'Covid-19 Search Partners', 'bioMérieux\n4.2',
       'Radical Convergence', 'Leidos\n3.5', 'Demandbase\n4.5',
       'Shelter Insurance\n4.1', 'USAC\n2.7',
       'General Dynamics Information Technology\n3.4', 'Offerpad\n4.4',
       'Magna International Inc.\n3.5', 'United BioSource\n2.3',
       'Kelly\n3.4', 'C3.ai\n4.7', 'Quartet Health\n3.9',
       'Midland Credit Management\n3.3',
       'Resurgent Capital Services\n4.4', 'webfx.com\n4.7',
       'Argo Group US\n3.5', 'BWX Technologies\n3.3', 'Life360\n3.9',
       'MassMutual\n3.7', 'Natera\n3.9', 'Genentech\n4.0', 'Ntrepid\n4.2',
       'Constant Contact\n3.6', 'Sage Intacct\n4.7',
       'Shape Security\n4.1', 'SkillSoniq\n5.0', 'Joby Aviation\n4.3',
       "Cook Children's Health Care System\n3.8",
       'Rubius Therapeutics\n3.8', 'GreatAmerica Financial Services\n4.6',
       'Coverent\n4.1', 'Mteq\n3.7', 'Rocket Lawyer\n4.4',
       'Alion Science & Technology\n3.6', 'Protolabs\n3.7',
       'Quest Integrity\n2.9', 'Phoenix Operations Group\n5.0',
       'Dice.com\n3.4', 'Southwest Research Institute\n3.9',
       'The Buffalo Group\n4.3',
       'Central California Alliance for Health\n3.5',
       'Security Finance Corporation of Spartanburg\n3.1',
       'Opendoor\n3.6', 'Global Data Management Inc\n4.5',
       'Photon Infotech\n3.0', 'REE\n5.0',
       'Riverside Research Institute\n3.6', 'T. Rowe Price\n3.6',
       'Encode, Inc.', 'Brighthouse Financial\n3.8',
       'II-VI Incorporated\n3.3', 'Surya Systems\n4.6', 'PayPal\n3.8',
       'Predictive Research Inc\n3.9', '1010data\n3.1', 'Gigya\n3.6',
       'Genesis Research\n5.0', 'Sanofi\n3.7', 'XPO Logistics\n3.7',
       'Trace Data\n3.9', 'Descript\n4.3',
       'Rincon Research Corporation\n4.2', 'Better Hire\n4.0',
       'Parker Hannifin\n3.3', 'Gallup\n4.1', 'Insider Inc\n3.3',
       'Rapid Value Solutions\n3.9', 'Battelle\n3.1',
       'The Drive Media, Inc.\n5.0',
       'Pacific Northwest National Laboratory\n3.7',
       'US Pharmacopeia\n3.2', 'Itlize Global\n4.6', 'eBay\n3.5',
       'Paige\n5.0', 'ABIOMED\n4.1', 'Comcast\n3.5',
       'Metronome, LLC\n3.2', 'Lawrence Livermore National Lab\n4.7',
       'FHLBank Pittsburgh\n3.8', 'Jacobs\n3.6',
       'Underwriters Laboratories\n3.3', 'Altus Group\n3.7', 'Jobot\n5.0',
       'Trovetechs Inc', 'Oshkosh Corporation\n4.2', 'Mackin\n3.4',
       'PETADATA', 'VBeyond Corporation\n4.4', 'Take-Two\n3.7',
       'Colony Brands\n3.7', 'Capio Group\n4.1', 'SleePare\n3.4',
       'ShorePoint\n4.5', 'Dolphin\n3.5', 'TE Connectivity\n3.6',
       'State of Virginia\n3.2', 'TA Digital\n3.7',
       'Market America Inc\n4.0', 'TrueAccord\n3.4',
       'ALTA IT Services\n3.9', 'Kollasoft Inc.\n3.2',
       'ASRC Federal Holding Company\n3.4', 'Adwait Algorithm\n4.4',
       'Cambridge FX\n3.5', 'Metromile\n3.8', 'Criteo\n3.9',
       'Advance Sourcing Concepts\n3.4', 'Enterprise Solutions Inc\n3.8',
       'Microagility', 'Conch Technologies, Inc\n4.6', 'GSK\n3.9',
       'Rainmaker Resources, LLC', '22nd Century Technologies\n3.7',
       'Huxley\n3.3', 'FM Systems\n3.4', 'B4Corp',
       'Blue Cross and Blue Shield of North Carolina\n3.7',
       'Jane Street\n4.8', 'SSATI\n5.0',
       'Solving IT International Inc\n3.4',
       'The Davey Tree Expert Company\n3.3', 'Centauri\n4.6',
       'Stride Search', 'Software Engineering Institute\n2.6',
       'TechProjects\n4.8', '7Park Data\n3.9',
       'Ameritas Life Insurance Corp\n3.0', 'Western Digital\n3.5',
       'Shimento, Inc.\n2.9', 'Averity\n5.0', 'Praxis Engineering\n4.7',
       'Point72 Ventures',
       'Johns Hopkins University Applied Physics Laboratory\n4.5',
       'Cambridge Mobile Telematics\n4.9', 'Blend360\n4.6',
       'Nolij Consulting\n3.9', 'Hatch Data Inc',
       'Compass Consulting Group\n4.7', 'SolutionIT, Inc.\n4.4',
       'Perspecta\n3.2', 'Smith Hanley Associates\n4.5',
       'Allen Institute\n3.5', 'Eliassen Group\n4.4',
       'Bayside Solutions\n3.1', 'Evolve Vacation Rental\n3.5',
       'AgreeYa Solutions\n3.8', 'Carolina Power & Light Co\n3.7',
       'New Iron Group, Inc.\n5.0', 'Travelers\n4.0', 'Twitch\n3.6',
       'Biogen\n3.6', 'HireAi', 'Mentor Graphics\n4.1',
       'WCG (WIRB-Copernicus Group)\n3.6',
       'Visionary Integration Professionals\n4.3', 'Dynetics\n4.0',
       'Navy Federal Credit Union\n3.9',
       'Exact Sciences Corporation\n4.0',
       'Community Behavioral Health\n3.6', 'Reynolds American\n3.3',
       'LifeOmic\n5.0', 'Visionist, Inc.\n4.9', 'Navio',
       'Concerto HealthAI\n3.3', 'Evolvinc', 'PROPRIUS\n5.0',
       'TECHNOCRAFT Solutions\n3.4', 'Latitude, Inc.\n4.1',
       'Royce Geospatial\n5.0', 'CyberCoders\n4.2',
       'Booz Allen Hamilton Inc.\n3.7', 'Burns & McDonnell\n3.8',
       'InvenTech Info\n4.8', 'Robert Half\n3.5',
       'Conflux Systems Inc.\n4.5', 'Voice\n3.4',
       'Falcon IT & Staffing Solutions', 'DataLab USA\n3.6',
       'Werner Enterprises Inc\n3.1', 'PeopleCom\n5.0',
       'VANTA Partners\n5.0', 'Blue Icy Water, LLC',
       "Farmer's Business Network, Inc.\n3.5", 'Sonde Health',
       'Maxiom\n5.0', 'Change Healthcare\n2.7', 'DCS Corp\n4.1',
       'Hive (CA)\n2.1', 'Hackensack Meridian Health\n3.3',
       'Net2Source Inc.\n3.2', 'The Trade Desk\n3.2', 'IBM\n3.7',
       'Knowesis Inc.\n4.4', 'MoTek Technologies\n3.1', 'HPOne\n3.5',
       'Blue Cloak LLC', 'TBWA\\Chiat\\Day\n2.7',
       'ThreeBridge Solutions\n3.5', 'Numeric, LLC\n3.2',
       'Centraprise\n4.2', 'DW Simpson\n4.2', 'LinQuest\n3.9',
       'Trexquant Investment\n4.0', 'Fleetcor\n3.7',
       'Radiant Digital\n4.5', 'Child Care Aware of America\n2.8',
       'IntelliPro Group Inc.\n4.1', 'USI\n3.4', 'Apex Systems\n3.9',
       'Pragmatics, Inc.\n2.9', 'Crossover Health\n3.5',
       'Lorven Technologies Inc\n4.0', 'Gap Inc.\n3.5',
       'Tygart Technology, Inc\n4.7', 'Murray Resources\n4.6',
       'New York Technology Partners\n4.0',
       'Two95 International Inc.\n4.0', 'Sophinea', 'CRS Group\n4.7',
       'Blackstone Talent Group\n3.5', 'Roche\n4.1',
       'Creative Circle\n3.6', 'Blue Horizon Tek Solutions\n5.0',
       'Sharpedge Solutions Inc\n4.7',
       'Alaka`ina Foundation Family of Companies\n3.6',
       'Hexagon US Federal\n2.7', 'Monte Rosa Therapeutics',
       'Comtech Global Inc\n4.0', 'Aveshka, Inc.\n3.8',
       '10x Genomics\n4.2', 'CompuForce', '1-800-Flowers\n2.7',
       'Aptive\n3.5', 'JCD Staffing\n5.0', 'Thumbtack\n3.9',
       'MILVETS Systems Technology, Inc.\n3.4', 'Apple\n4.1',
       'Kforce\n4.1', 'OppLoans\n4.4', 'Brillient\n3.9',
       'Xator Corporation\n2.9', 'HAN IT Staffing Inc.\n4.6',
       'Infinitive Inc\n3.4', 'New Relic\n4.7', 'ICW Group\n3.3',
       'NYSTEC\n3.8', 'E3 Federal Solutions\n4.5', 'Peraton\n3.4',
       'Group O\n3.1', 'CaptiveAire\n4.1', 'Temboo\n3.9', 'Kibo',
       'AeroVironment\n4.2', 'Applied Research Laboratories\n3.8',
       'Conagen\n2.0', 'Alector\n4.8', 'Homology Medicines, Inc.\n4.4',
       'Inland Empire Health Plan\n3.3',
       'Sandia National Laboratories\n3.8', 'CIA\n3.8',
       'Maven Wave Partners\n4.5', 'Ovative Group\n4.3', 'Kognetics\n3.6',
       'Envision Healthcare\n2.9', 'ConsumerTrack\n3.2',
       'Meridian Knowledge Solutions\n4.4', 'UST Global\n4.2',
       'IMG Systems\n3.2', 'Trident Systems Inc\n3.4', 'GrainBridge, LLC',
       'First Health Group\n3.2', 'Sprezzatura Management Consulting',
       'Progress Rail, A Caterpillar Company\n2.8',
       'Axiologic Solutions\n4.5', 'Indigo Slate\n3.0', 'Cubic\n3.3',
       'Advanced Bio-Logic Solutions Corp\n4.0',
       'Alignment Healthcare\n3.5', 'WGSN\n3.5',
       'ISYS Technologies, Inc.\n3.6', 'TransVoyant\n3.0', 'Geotab\n4.3',
       'EGlobalTech\n3.7', 'Central Business Solutions, Inc\n3.0',
       'KeHE Distributors\n2.5', 'Moxie Software\n3.0',
       'Unicom Technologies INC\n4.7', 'Americo Life\n3.3',
       'Tokio Marine HCC\n3.3', 'CACI International\n3.5',
       'Berico Technologies', 'Kehe Food Distributors', 'Pactera Edge',
       'Qurate Retail Group\n3.6', 'A-Line Staffing Solutions\n4.1',
       'Clear Ridge Defense', 'Criterion Systems, Inc.\n3.8',
       'Foundation Medicine\n4.0', 'TRANZACT\n3.6', 'JKGT', 'AccessHope',
       'ChaTeck Incorporated\n5.0'], dtype=object)

In [122]:
data[['Company Name', 'Rating']].sort_values(by = 'Rating', ascending=True).head(51)

                          Company Name  Rating
457                      Stride Search    -1.0
425                       Microagility    -1.0
351                   Point72 Ventures    -1.0
504                           Sophinea    -1.0
500                     Hatch Data Inc    -1.0
499                     Hatch Data Inc    -1.0
357                     Hatch Data Inc    -1.0
358                     Hatch Data Inc    -1.0
498                     Hatch Data Inc    -1.0
497                     Hatch Data Inc    -1.0
496                     Hatch Data Inc    -1.0
495                     Hatch Data Inc    -1.0
524                         CompuForce    -1.0
359                     Hatch Data Inc    -1.0
361                     Hatch Data Inc    -1.0
362                     Hatch Data Inc    -1.0
459                     Blue Cloak LLC    -1.0
388                             HireAi    -1.0
389                             HireAi    -1.0
440                       Sonde Health    -1.0
438                Blue Icy Water, LLC    -1.0
437                             B4Corp    -1.0
409                              Navio    -1.0
431           Rainmaker Resources, LLC    -1.0
430     Falcon IT & Staffing Solutions    -1.0
360                     Hatch Data Inc    -1.0
338                      Stride Search    -1.0
519            Monte Rosa Therapeutics    -1.0
322           Rainmaker Resources, LLC    -1.0
669                         AccessHope    -1.0
668                               JKGT    -1.0
664                Clear Ridge Defense    -1.0
660                       Pactera Edge    -1.0
657             Kehe Food Distributors    -1.0
656                Berico Technologies    -1.0
154           Covid-19 Search Partners    -1.0
650            Monte Rosa Therapeutics    -1.0
158                Radical Convergence    -1.0
637                           Sophinea    -1.0
329                             B4Corp    -1.0
230                       Encode, Inc.    -1.0
411                           Evolvinc    -1.0
285                     Trovetechs Inc    -1.0
555                             HireAi    -1.0
615  Sprezzatura Management Consulting    -1.0
319                       Microagility    -1.0
613                   GrainBridge, LLC    -1.0
282                     Trovetechs Inc    -1.0
568                               Kibo    -1.0
290                           PETADATA    -1.0
579                       Conagen\n2.0     2.0

In [126]:
data['company_txt'] = data.apply(lambda x : x['Company Name'] if x['Rating']< 0 else x['Company Name'][:-4], axis = 1)

In [130]:
data.head()

,index,Job Title,Salary Estimate(K),Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary,company_txt
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171,154.0,Healthfirst
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171,154.0,ManTech
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137,171,154.0,Analysis Group
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,154.0,INFICON
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171,154.0,Affinity Solutions

In [135]:
data['Location'].value_counts()

Location
San Francisco, CA    69
New York, NY         50
Washington, DC       26
Boston, MA           24
Chicago, IL          22
                     ..
Oshkosh, WI           1
Culver City, CA       1
Lake Oswego, OR       1
New Orleans, LA       1
Irwindale, CA         1
Name: count, Length: 207, dtype: int64

In [167]:
data['job_state'] = data['Location'].apply(lambda x : x.split(',')[-1])

In [168]:
data['job_state']

0       NY
1       VA
2       MA
3       MA
4       NY
      ...
667     NJ
668     CA
669     CA
670     CA
671     NY
Name: job_state, Length: 672, dtype: object

In [170]:
data.head()

,index,Job Title,Salary Estimate(K),Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary,company_txt,job_state
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171,154.0,Healthfirst,NY
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171,154.0,ManTech,VA
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137,171,154.0,Analysis Group,MA
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,154.0,INFICON,MA
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171,154.0,Affinity Solutions,NY

In [186]:
data['job_state'].value_counts()

job_state
 CA              165
 VA               89
 MA               62
 NY               52
 MD               40
 IL               30
 DC               26
 TX               17
 WA               16
 OH               14
 PA               12
 MO               12
United States     11
 NJ               10
 CO               10
 GA                9
 NC                9
 TN                8
 FL                8
Remote             6
 OK                6
 WI                6
 IN                5
 MI                5
 AL                4
 CT                4
 MN                4
 AZ                4
 NE                3
 UT                3
 IA                3
 RI                2
New Jersey         2
 SC                2
 OR                2
Utah               2
 NH                2
 MS                1
 LA                1
 KS                1
Texas              1
 DE                1
California         1
 WV                1
Name: count, dtype: int64

In [187]:
# Same State

In [178]:
data['same state'] = data.apply(lambda x : 1 if x.Location == x.Headquarters else 0, axis = 1)

In [184]:
data.head()

,index,Job Title,Salary Estimate(K),Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary,company_txt,job_state,same state,age
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,...,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171,154.0,Healthfirst,NY,1,30
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,...,Business Services,$1 to $2 billion (USD),-1,137,171,154.0,ManTech,VA,0,55
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,...,Business Services,$100 to $500 million (USD),-1,137,171,154.0,Analysis Group,MA,1,42
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,...,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,154.0,INFICON,MA,0,23
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171,154.0,Affinity Solutions,NY,1,25

In [185]:
# Age

In [209]:
data['company_age'] = data.Founded.apply(lambda x : x if x < 1 else 2023 - x)

In [210]:
data

,index,Job Title,Salary Estimate(K),Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,max_salary,avg_salary,company_txt,job_state,same state,age,python,R,spark,company_age
121,121,Senior Data Engineer,$99K-$132K (Glassdoor est.),About Scoop\n\nScoop brings co-workers and nei...,4.7,Scoop\n4.7,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2015,...,132,115.5,Scoop,CA,1,8,1,0,1,8
315,315,Data Scientist,$145K-$225K(Employer est.),Who we are\nCriteo (NASDAQ: CRTO) is the globa...,3.9,Criteo\n3.9,"Ann Arbor, MI","Paris, France",1001 to 5000 employees,2005,...,225,185.0,Criteo,MI,0,18,1,0,1,18
583,583,Lead Data Scientist – Network Analysis and Con...,$138K-$158K (Glassdoor est.),Why choose between doing meaningful work and h...,3.3,MITRE\n3.3,"Bedford, MA","Bedford, MA",5001 to 10000 employees,1958,...,158,148.0,MITRE,MA,1,65,1,0,1,65

In [190]:
# Job descriptions

In [196]:
data['Job Description']

0      Description\n\nThe Senior Data Scientist is re...
1      Secure our Nation, Ignite your Future\n\nJoin ...
2      Overview\n\n\nAnalysis Group is one of the lar...
3      JOB DESCRIPTION:\n\nDo you have a passion for ...
4      Data Scientist\nAffinity Solutions / Marketing...
                             ...
667    Summary\n\nWe’re looking for a data scientist ...
668    Job Description\nBecome a thought leader withi...
669    Join a thriving company that is changing the w...
670    100 Remote Opportunity As an AINLP Data Scient...
671    Description\n\nThe Data Scientist will be part...
Name: Job Description, Length: 672, dtype: object

In [198]:
data['python'] = data['Job Description'].apply(lambda x : 1 if 'python' in x.lower() else 0)

In [200]:
data['python'].value_counts()

python
1    491
0    181
Name: count, dtype: int64

In [202]:
data['R'] = data['Job Description'].apply(lambda x : 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)

In [204]:
data['R'].value_counts()

R
0    671
1      1
Name: count, dtype: int64

In [206]:
data['spark'] = data['Job Description'].apply(lambda x : 1 if 'spark' in x.lower() else 0)

In [208]:
data['spark'].value_counts()

spark
0    483
1    189
Name: count, dtype: int64

In [215]:
data['excel'] = data['Job Description'].apply(lambda x : 1 if 'excel' in x.lower() else 0)

In [216]:
data['excel'].value_counts()

excel
0    376
1    296
Name: count, dtype: int64

In [218]:
data['hadoop'] = data['Job Description'].apply(lambda x : 1 if 'hadoop' in x.lower() else 0)

In [220]:
data['hadoop'].value_counts()

hadoop
0    529
1    143
Name: count, dtype: int64

In [222]:
data['aws'] = data['Job Description'].apply(lambda x : 1 if 'aws' in x.lower() else 0)

In [224]:
data['aws'].value_counts()

aws
0    498
1    174
Name: count, dtype: int64

In [226]:
data['tableau'] = data['Job Description'].apply(lambda x : 1 if 'tableau' in x.lower() else 0)

In [228]:
data['tableau'].value_counts()

tableau
0    549
1    123
Name: count, dtype: int64

In [230]:
data['big data'] = data['Job Description'].apply(lambda x : 1 if 'big data' in x.lower() else 0)

In [232]:
data['big data'].value_counts()

big data
0    533
1    139
Name: count, dtype: int64

In [242]:
data.columns

Index(['index', 'Job Title', 'Salary Estimate(K)', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'min_salary', 'max_salary', 'avg_salary', 'company_txt', 'job_state',
       'same state', 'age', 'python', 'R', 'spark', 'excel', 'hadoop', 'aws',
       'tableau', 'big data'],
      dtype='object')

In [251]:
data.to_csv('glassdoor_job_data_analyst_cleaned.csv',index = False)